# Visual Studio files
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.db
*.dll
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*.sbr
*.sdf
*.sh
*.VisualState.xml
UpgradeLog.htm

# Visual Studio directories
[Bb]in/
[Bb]uild/
[Dd]ebug*/
[Ii]pch/
[Oo]bj/
[Rr]elease/
[Rr]esults/
[Tt]mp/
[Tt]emp/

# VCS files
.svn
.vs

# Others
~$*
*.DS_Store
*.resharper
_ReSharper*/
Ankh.NoLoad
[Tt]est[Rr]esult*
[Tt]humbs.db
