#include "ProgressDialog2Res.h"
#include "../../GuiCommon.rc"

#undef DIALOG_ID
#define DIALOG_ID  IDD_PROGRESS
#define xc 360
#define k 11
#define z1s 16

#include "ProgressDialog2a.rc"

#ifdef UNDER_CE

#include "../../GuiCommon.rc"


#undef DIALOG_ID
#undef m
#undef k
#undef z1s

#define DIALOG_ID  IDD_PROGRESS_2
#define m 4
#define k 8
#define z1s 12

#define xc 280

#include "ProgressDialog2a.rc"

#endif

STRINGTABLE DISCARDABLE
{
  IDS_PROGRESS_PAUSED     "一時停止"
  IDS_PROGRESS_FOREGROUND "フォアグラウンド"
  IDS_CONTINUE            "続ける"
  IDS_PROGRESS_ASK_CANCEL "本当にキャンセルしますか？"
  IDS_CLOSE "閉じる"
}
